{% extends 'envmgmt/base.html' %}
{% block content %}
{% if dtls == None %}
	<h2>No records returned</h2>
{% else %}
	<h2>Project details for {{ dtls.env_tier }}</h2>
	<table width=50%>
		<tr>
			<td>Product:</td>
				{% if dtls.app_product == 'WM' %}
					<td>Warehouse Management</td>
				{% endif %}
		</tr>
		<tr>
			<td>App Server 1:</td>
			<td>{{ dtls.app_server1 }}</td>
		</tr>
		<tr>
			<td>App Server 2:</td>
			<td>{{ dtls.app_server2 }}</td>
		</tr>
		<tr>
			<td>Operating System:</td>
			<td>{{ dtls.app_os }}</td>
		</tr>
		<tr>
			<td>Clustered:</td>
			{% if dtls.app_cluster == 0 %}
				<td>No</td>
			{% else %}
				<td>Yes</td>
			{% endif %}
		</tr>
		<tr>
			<td>Console URL:</td>
			<td>http://{{ dtls.app_server1 }}:{{ dtls.app_port }}/console</td>
		</tr>
		<tr>
			<td>REFS URL:</td>
			<td>{{ dtls.refs_url }}</td>
		</tr>
		<tr>
			<td>Database Name:</td>
			<td>{{ dtls.db_name }}</td>
		</tr>
		<tr>
			<td>Database Server:</td>
			<td>{{ dtls.db_server1 }}</td>
		</tr>
		<tr>
			<td>Database Server 2:</td>
			<td>{{ dtls.db_server2 }}</td>
		</tr>
		<tr>
			<td>Database Type:</td>
			<td>{{ dtls.db_type }}</td>
		</tr>
		<tr>
			<td>Database OS:</td>
			<td>{{ dtls.db_os }}</td>
		</tr>
	</table>
{% endif %}
{% endblock %}